/* 
          _____                    _____                    _____          
         /\    \                  /\    \                  /\    \         
        /::\    \                /::\    \                /::\    \        
       /::::\    \              /::::\    \              /::::\    \       
      /::::::\    \            /::::::\    \            /::::::\    \      
     /:::/\:::\    \          /:::/\:::\    \          /:::/\:::\    \     
    /:::/  \:::\    \        /:::/__\:::\    \        /:::/__\:::\    \    
   /:::/    \:::\    \       \:::\   \:::\    \       \:::\   \:::\    \   
  /:::/    / \:::\    \    ___\:::\   \:::\    \    ___\:::\   \:::\    \  
 /:::/    /   \:::\    \  /\   \:::\   \:::\    \  /\   \:::\   \:::\    \ 
/:::/____/     \:::\____\/::\   \:::\   \:::\____\/::\   \:::\   \:::\____\
\:::\    \      \::/    /\:::\   \:::\   \::/    /\:::\   \:::\   \::/    /
 \:::\    \      \/____/  \:::\   \:::\   \/____/  \:::\   \:::\   \/____/ 
  \:::\    \               \:::\   \:::\    \       \:::\   \:::\    \     
   \:::\    \               \:::\   \:::\____\       \:::\   \:::\____\    
    \:::\    \               \:::\  /:::/    /        \:::\  /:::/    /    
     \:::\    \               \:::\/:::/    /          \:::\/:::/    /     
      \:::\    \               \::::::/    /            \::::::/    /      
       \:::\____\               \::::/    /              \::::/    /       
        \::/    /                \::/    /                \::/    /        
         \/____/                  \/____/                  \/____/         
                                                                           

*/

body{
	background-color: #66CCFF;
}
/*Main formatting:*/
#main-content{
	margin: 0 auto;
  	width: 1200px;
}

#bottom-section{
	height:650px;
}

#top-bar{
	height:200px;
}

.outline{
	border: 1px solid black;
}

#main-canvas{
	float:right;
	width:894px;
	height:inherit;
}

#chat-area{
	float:left;
	width: 300px;
	height:inherit;
}

#location-info{
	float:right;
	width:894px;
	height:inherit;
}

#your-info{
	float:left;
	width:300px;
	height:inherit;
}